# ===============================
# Local input / output files /folders
# ===============================
input.txt
output.txt
/test

# ===============================
# Build directory (executables)
# ===============================
bin/

# ===============================
# Common compiled outputs
# ===============================
a.out
*.out
*.exe

# ===============================
# Object files
# ===============================
*.o

# ===============================
# VS Code (ignore completely)
# ===============================
.vscode/

# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db
